<!DOCTYPE html>
<html>
  <head>
    <title><%= firstname %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= firstname %></h1>
    <p>Welcome to <%= firstname %></p>
  </body>
</html>
