doctype html
html(lang="fr")
  head
    title= title
    block stylesheets
      link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav
      block nav
        a(href="/") Accueil
        a(href="/users") Utilisateurs
    block header
      header
        h1= title
    block main 
      img(src="/images/splash.jpg" alt="image splash")
    block footer
      footer
        p
          small © Formation Node JS 2026

