<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des utilisateurs</title>
</head>
<body>
    <ul>
        <% users.forEach(user => { %>
            <li><%= user.login %> <a href="/github/<%= user.login %>">Details</a></li>
        <% }) %>
    </ul>
</body>
</html>