MONGO_ROOT_USERNAME=champions_league
MONGO_ROOT_PASSWORD=strong_password
MONGO_DB_NAME=champions_league
MONGO_DB_PORT=27017
# FOR CONTAINER MONGO_UI
ME_CONFIG_MONGODB_URL=mongodb://${MONGO_ROOT_USERNAME}:${MONGO_ROOT_PASSWORD}@mongodb:${MONGO_DB_PORT}?authSource=admin